.DS_Store
__MACOSX*
*.rds

.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rbuildignore


*~
.nojekyll
**/*_cache/*
**/data/*
renv/*

slides/**/*.html
slides/**/*_files/*
notes/**/*.html
hw/**/*.html

assignments/**/*.html
assignments/**/*img*/*
assignments/**/*.png
assignments/**/*.gif

docs/**/*.R
docs/**/*.Rmd
docs/**/*.md
docs/make_subdirs
docs/**/Makefile
docs/**/data/*
docs/**/*.tgz
docs/toplevel/*

slides/figure/*.png
slides/lectures/img/*
slides/lectures/figure/*.png

**/*.ipynb
.ipynb_checkpoints
#!docs/assignments/**/*.ipynb
ForCanvas/*.html
ForCanvas/*.png
ForCanvas/img
!docs/ForCanvas/*.html
!docs/ForCanvas/img/*
notebooks/*

notes/*.html
notes/*.ipynb

**/data

FinalProjects/*
HW_Submissions/*