.DS_Store
__MACOSX*
*.rds

.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rbuildignore

**/.ipynb_checkpoints/*

notes/*
docs/notes/*
*~
.nojekyll
**/*_cache/*
**/data/*
renv/*

slides/**/*.html
slides/**/*_files/*
notes/**/*.html
hw/**/*.html

assignments/**/*.html
assignments/**/*img*/*
assignments/**/*.png
assignments/**/*.gif

docs/**/*.R
docs/**/*.Rmd
docs/**/*.md
docs/Makefile
docs/make_subdirs
docs/**/Makefile
docs/**/data/*
docs/**/*.tgz
docs/toplevel/*

ForCanvas/*.html
ForCanvas/*.docx
ForCanvas/*.odt
ForCanvas/*.pdf

slides/figure/*.png
slides/lectures/img/*
slides/lectures/figure/*.png

*.ipynb
